<div class="container">

  <div class="container mt-1">

    <div class="row  border border-white back-grid text-white">
      <div class="col-sm text-center">
        Nome
      </div>

      <div class="col-sm text-center">
        E-mail
      </div>

      <div class="col-sm text-center">
        Telefone
      </div>

      <div class="col-sm text-center">
        Empresa
      </div>
    </div>    
  </div>

  <router-outlet></router-outlet>

  <div class="container col-sm mt-3">
    <div class="row">
      <div class="centered">

        <button type="button" class="btn btn-primary btn-dark" data-toggle="modal" data-target="#modalCadastroAluno"
          botaoAdicionar>
          Adicionar
        </button>

        <button type="button" class="btn btn-dark" botaoEditar>
          Editar
        </button>

        <button type="button" class="btn btn-dark" botaoExcluir>
          Excluir
        </button>
      </div>
    </div>
  </div>
</div>